* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.head-section {
  background-image: url("./assets/background_mountain_image.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  padding: 0 15%;
  justify-content: space-around;
}

.head-section>button {
  border: none;
  font-size: 1.25rem;
  color: rgb(74, 74, 74);
  background-color: transparent;
}

.cards-container {
  margin-top: -150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 7%;
}

.cards {
  text-align: center;
  width: 270px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding: 3% 3%;
}

.cards>h2 {
  font-size: 1rem;
  color: lightblue;
  padding-bottom: 5px;
}

.cards>img {
  padding: 10px 0;
}

.cards>p {
  /* line-height: 0.4rem; */
  font-size: 0.8rem;
}

.cards>p:nth-child(4) {
  font-size: 0.6rem;
  color: lightgray;
  /* line-height: 0rem; */
  border-bottom: 1.5px solid white;
  width: fit-content;
  padding: 8% 6%;
  padding-top: 0%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.cards>p:nth-child(7),
.cards>p:nth-child(5),
.cards>p:nth-child(6) {
  line-height: 2rem;
}


.cards>img {
  width: 75px;
  margin: 0 auto;
}

.section2 {
  width: 350px;
}

.section2>div {
  margin: 0 auto;
  /* padding: 0 20%; */
}

.container2 {
  display: flex;
  padding: 5% 7%;
  /* background-color: black; */
}

.section2>h1 {
  font-size: 1.25rem;
  padding: 2%;
}